
div.cal {
  margin: 4px;
}

div.cal * {
  text-align: center;
  font-size: 20pt;

}

div.cal table {
  border: solid 1px rgb(61, 59, 181);
  width: 500px;
}

div.cal caption {
  border: solid 1px rgb(61, 59, 181);
  border-bottom: none;
  background: aquamarine;
}

div.cal td.today {
  background: aquamarine;
}

div.cal td.holiday {
  background: red;
}
